<!DOCTYPE html>

<html lang="en">
    <head>
    {% load staticfiles %}
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles/todo.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/604e119e80.js"></script>

    <title>{% block title %}{{ page_title }}{% endblock %}</title>
    {% endblock %}
    {% block extra_head_tags %}{% endblock %}
    </head>
    <body>
    <div class="container-fluid">
        <!-- |*|*|*|*| Banner |*|*|*|*| -->
            <!-- |*|*|*|*| User Authentication |*|*|*|*| -->
            {% if user.is_authenticated %}
            <h5 class="user-hdr">{{ user.get_username }}'s</h5>
            {% else %}
            <h5 class="user-hdr"></h5>
            {% endif %}

        <div class="banner-wrapper">
            <!-- Brand -->
            <h1 class="logo"><a class="navbar-brand" href="#"><span class="logo-text" role="banner">to do</span></a></h1>
        </div>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
{# Django Home Link / Admin Link / Register Link#}
          <li><a class="navbar-brand" href="{% url 'index' %}">DJANGO</a></li>
          <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>
          <li><a class="navbar-link" href="{% url 'dappx:register' %}">Register</a></li>
          {# Some logic on what to display for last item#}
          {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
            <li><a class="navbar-link" href="{% url 'dappx:user_login' %}">Login</a></li>
          {% endif %}
</ul>
      </div>
    </nav>


        <!-- |*|*|*|*| Content |*|*|*|*| -->
        <div class="container-fluid">
        {% block content %}{% endblock %}
        </div>

    <!-- |*|*|*|*| Footer |*|*|*|*| -->
    <footer class="basic-footer" role="contentinfo">
        <p>stuBB 2020, Copyright by <a href="https://creativecommons.org/licenses/by/3.0/">CC</a></p>
    </footer>
    </div>

    </body>
    {% block footer %}
    <!-- JS, Popper, JQuery -->

    {% endblock %}
</html>