<!DOCTYPE html>

<html lang="en">
<head>
{% load staticfiles %}
{% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="icon" href="{% static 'images/favicon.ico' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'styles/register.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/604e119e80.js"></script>

  <title>{% block title %}{{ page_title }}{% endblock %}</title>
{% endblock %}
{% block extra_head_tags %}{% endblock %}
</head>
<body>
<div class="container-fluid">
<!-- |*|*|*|*| Banner |*|*|*|*| -->
<div class="banner-wrapper">
  <!-- Brand -->
  <h1 class="logo"><a class="navbar-brand" href="{% url 'app:index' %}"><span class="logo-text" role="banner">REGGIE</span></a></h1>
</div>
<nav class="navbar navbar-default navbar-static-top">

</nav>

<!-- |*|*|*|*| Content |*|*|*|*| -->
<div class="container-fluid">
{% block content %}{% endblock %}
</div>

<!-- |*|*|*|*| Footer |*|*|*|*| -->
<footer class="basic-footer" role="contentinfo">
  <p>stuBB 2020, Copyright by <a href="https://creativecommons.org/licenses/by/3.0/">CC</a></p>
</footer>
</div>

</body>
{% block footer %}
<!-- JS, Popper, JQuery -->

{% endblock %}
</html>